<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsSafe.Properties.Settings.UniversityHRConnectionString"
            connectionString="Data Source=DESKTOP-52HAABT\SQLEXPRESS;Initial Catalog=UniversityHR;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>